.separator__container {
  width: 1142px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  min-height: 368px;
}


.separator__title {
  font-size: 41px;
  width: 485px;
  margin-right: 20px;
}

.separator__picture {
  position: relative;
  left: 87px;
  height: 360px;
}